
body{
    margin: 0;
    padding: 0;
}
.header
{
    background-color: #ffffff;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.flex-container
{
    display: flex;
    padding: 20px;
    padding-top: 10px;
    background-color: #C70039;
}
.flex-container >nav{
    padding-top: 10px;
    margin-left: 10px;
    font-size: 20px;
}

a
{
padding: 10px;
background-color: #c70039cc;
color: whitesmoke;
text-align: center;
text-decoration: none;
border-radius: 5px;
}
a:hover
{
    background-color: #ff0645;
}

.flex {
  margin-left: 30px;
    width: 1400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex >article {
    width: 400px;
    height: 100px;
    padding: 10px;
    text-align: justify;
    font-size: medium;
  }
aside {
    width: 50%;
    padding-left: 15px;
    margin-top: 20px;
    float: right;
    font-style: italic;
    background-color: #ffd5e1;
  }
  footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #000000;
    color: rgb(255, 201, 130);
  }
  